useDynLib(semipadd2pop, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
import(splines)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "lines", "par")
importFrom("stats", "pnorm", "quantile", "rbinom", "rexp", "rnorm", "rpois")
